@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
}

:root {
    --back-color: #063B52;
    --text-color: #FDF2E4;
    --second-color: #45C4B0;
    --main-color: #13678A;
    --dark-color: #181918;
    --grey-color: #25252c;
    --second-dark: #fbfbfb;
    --select: #074250;
    --select-text: #11DDF0;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.lista {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--main-color);
    width: 230px;
    height: 800px;
    z-index: 1000;
    overflow-x: hidden;
    transition: all 0.3s ease;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.lista::-webkit-scrollbar {
    display: none;
}

.lista.close {
    width: 60px;
}

li {
    list-style: none;
}

.lista .navicon a {
    width: 100%;
    height: 100%;
    font-size: 18.5px;
    font-weight: 700;
    color: var(--text-color);
    display: flex;
    background: var(--main-color);
    align-items: center;
    border-radius: 20px;
    white-space: nowrap;
    overflow-x: hidden;
    transition: all .3s ease;
}

.lista .navicon {
    width: 100%;
    margin-top: 92px;
}

.lista .navicon li {
    height: 48px;
    background: transparent;
    margin-left: 8px;
    border-radius: 80px 0 0 80px;
    padding: 6px;
}

.lista .navicon li.ativo {
    position: relative;
    background: var(--back-color);
}

.lista .navicon li.ativo::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--back-color);
    z-index: -1;
}

.lista .navicon li.ativo::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--back-color);
    z-index: -1;
}

.lista .navicon li.ativo a {
    color: var(--select-text);
}

.lista.close .navicon li a {
    width: calc(48px - ((4px * 2)));
    transition: all  ease;
}

.lista .navicon li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.lista.close~.conteudo {
    width: calc(100% - 60px);
    left: 60px;
}

.conteudo {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all .3s ease;
}

.conteudo nav {
    height: 56px;
    width: 100%;
    background: var(--main-color);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0;
}

.conteudo nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--main-color);
}
.conteudo nav .bx.bx-menu{
    cursor: pointer;
    font-size: 30px;
}
section{
    display: flex;
    width: 100%;
    height: 100vb;
    margin: 0 ;
    padding: 100px 60px ;
}

.seinic{
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.seinic .inicioText{
    max-width: 960px;
}

.seinic .inicioText h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 1.5;
}

.inicioText .textAnimed{
    position: relative;
    width: 524.8px;
}

.inicioText .textAnimed{
   font-size: 28px; 
   font-weight: 700;
   color: transparent;
   -webkit-text-stroke: 1.2px var(--second-color);
}

.inicioText p{
    font-size: 16px;
    margin: 32px 0 64px;
}

.fran{
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
    color: rgba(255, 0, 0, 0.651);
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 50px;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    width: 180px;
    height: 100%;
    border: 25px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    background-image: linear-gradient(
        to top left,
        rgb(42, 36, 143),
        rgb(74, 116, 255),
        rgba(252, 3, 3, 0.658)
    );
    color: var(--second-dark);
    z-index: 1;
    overflow: hidden;
    transform: .5s;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(
    to top right,
    rgba(71, 69, 124, 0.363),
    rgba(52, 70, 128, 0.534),
    rgba(76, 190, 41, 0.438)
    );
    transition: .75s;
    z-index: -1;
}

.btn-box .btn:hover::before{
    width: 100%;
}

.iconRedes{
    bottom: 64px;
    position: absolute;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.iconRedes a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3.5px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    color: var(--second-dark);
}

.iconRedes a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:var(--main-color);
    z-index: -1;
    transition: .75s;
}

.iconRedes a:hover::before{
    width: 100%;
}

.imgF{
    width: 230px;
    height: 200px;
    background: transparent;
    border: 1.5px solid var(--main-color);
    transition: 3s;
    display: flex;
    border-radius: 15px;
}
/* PAGINA 1 - INICIO ALGUMAS MUDANÇAS NAS PAG NÃO SERAM NECESSARIAS POR TEREM OS MESMOS ITENS
POREM OUTRAS, COM CONTEUDOS DIFERENTES UM DO OUTRO TERAM CONTINUIDADE DE CODI AQUI MESMO NESTA FOLHA, NÃO EM OUTRA.
PRA NÃO TEREM MUITAS FOLHAS DE ESTILO P UM MESMO PROPOSITO
*/ 
